@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #34b5de;
  --dark-color: #0f0f0f;
  --gray-color: gray;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --small-font-size: 14px;
}

section {
  padding: 70px 0;
}
section > .container .section-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-transform: uppercase;
}
.btn-orange {
  background-color: var(--primary-color);
  color: white;
}
.text-orange {
  color: var(--primary-color);
}
.fs-7 {
  font-size: var(--small-font-size);
}
.from-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: rgb(134, 134, 217);
}
.header-section .header-img {
  width: 90%;
}
.portofolio-section .card .card-img-top {
  height: 270px;
  width: 100%;
  object-fit: cover;
}
.portofolio-section .card .skill-portofolio {
  width: 27%;
}

.accordion-collapse img {
  height: 100px;
  padding-left: 3%;
}
@media (max-width: 767.98px) {
  .portofolio-section .card .card-img-top {
    height: 130px;
  }
  .header-section .header-img {
    padding-top: 20px;
  }
  .accordion-collapse img {
    height: 40px;
    padding-left: 3%;
  }
  .portofolio-section .card .card-body div span {
    font-size: 10px;
  }
}
